<p> Use
  the OTP below to complete the process:</p>
<div class='otp'> {{otp}} </div>
<p>This OTP is valid for 15 minutes. If you didn’t request this, please ignore
  this email or contact support at
  {{supportEmail}}</p>